<div class="calendar">
<div class="toppage">

<div class="row">
<div class="col-md-4">
	<div class="schedule">今後の予定</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>日程</th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <div class="nittei">
          <td><%= link_to calendar.title, calendar %></td>
          <td><%= calendar.start_time.strftime("%m-%d, %H:%M~") %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>



<%= form_with(model: @calendar, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title, class: 'custom-title-class' %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_area :content, class: 'custom-content-class' %>
  </div>

  <div class="time custom-time-class">
  <div class="form-tag custom-form-tag-class">時間</div>
  <div class="time-sub custom-time-sub-class">
    <%= form.datetime_select :start_time, class: 'custom-datetime-class' %>
  </div>
</div>

  <div class="submit">
    <%= form.submit class: 'custom-submit-button'%>
  </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.day %>

  <% calendars.each do |calendar| %>
    <div>
      <%= link_to calendar.title, calendar %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
</div>